/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/MidLabSolution/AdmissionSystem/dist/
/SDA Lab8/nbproject/private/
/SDA Lab8/build/
/SDA Lab8/dist/
/ModifiedMVCModel/nbproject/private/
/ModifiedMVCModel/build/
/ModifiedMVCModel/dist/