<!DOCTYPE html>
<html>
<head>
    <title>Bookstore</title>
</head>
<body>
    <h1>Books Available in Our Store</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>{{ book.description }}</p>
                <p><strong>Price:</strong> ${{ book.price }}</p>
                <p><em>Published on: {{ book.published_date }}</em></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
